#contact_modal {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.modal {
    width: 50%;
    display:  flex;
    z-index: 1;
    height: 85%;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;

}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.title-modal_layout{
    display: flex;
    margin: auto;
    justify-content: flex-start;
    align-items: baseline;
    justify-content: space-between;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    display: flex;
    cursor: pointer;
}

.modal header h2 {
    display: flex;
    font-size: 64px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 33px;
}
.message-input {
    height: 150px;
}

.lightbox__container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.lightbox {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.next-chevron, .prev-chevron, .lightbox__close-img{
    width: 30px;
    height:  30px;
    border: none;
}

.lightbox__close, .lightbox__previous, .lightbox__next {
    display: flex;
    position: fixed;
    width: 50px;
    height: 80%;
    top: 0;
    right: 0;
    cursor: pointer;
    align-items: center;
    background-color:transparent;
    border: none;

}
.lightbox__previous{
    right: auto ;
}
.lightbox__close{
   top: 0;
   height: 10%;
}




