

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
.header__page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
h1 {
    color: #901C1C;
    margin-left: 100px;
}
a{
    text-decoration: none;
    text-align: center;
}
.p-tagline__homepage{
    color: black;
    margin: 0;
    text-align: center;
}
.p-price__homepage{
    display: block;
    color: #757575;
    margin: 0;
}
.photographer__section .p-price__homepage{
    display: block;
}

.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 0;
}
.photographer__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    padding: 5%;
}
.photographer__section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.photographer__section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
}
.photographer__section article h3 {
    margin: 0;
    color: #901C1C;
}

.photographer__section a img, .photographer__header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer__section .descriptif__photographer{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.photographer__section .sticky__card{
    display: none;
}
.photographer__header {
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    padding: 30px;
    margin: 0 100px;
}
.photographer__header a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    pointer-events: none;
}

.photographer__header .descriptif__photographer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#title_modal{
    margin-top: 0;  
}
.photographer__header article {
    width: 100% ;
}
.photographer__header h2 {
    color: #D3573C ;
}
.photographer__header h3 {
    color: #901C1C;
    margin: 0;
}

.photographer__header .p-price__homepage  {
    display: none;
}
.filters{
    display: flex;
    margin: 30px 0  0 100px;
    font-weight: bold;
    z-index: 0;
    width: 212px;
}
select {
   appearance: none;
   border: none;
   background-color: #901C1C;
   border-radius: 5px;
   padding: 9px 39px 10px 15px;
   font-weight: normal;
   color: #FAFAFA;
   cursor: pointer;
   z-index: 0;
}

.filter__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #901C1C;
    margin-left: 20px;
    margin-top: -8px;
    border-radius: 5px;
    font-weight: normal;
    color: #FAFAFA;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.pop, .date{
    padding: 15px 0 10px 15px;
    border-radius: 5px;
    border-bottom: 1px solid #FAFAFA;
}

.option {
    padding: 15px 0 10px 15px;
    border-radius: 5px;
    border-bottom: 1px solid #FAFAFA;
    width: 32px;
}

.title{
    border-radius: 5px;
    padding: 15px 0 10px 15px;
}
.chevron-down, .chevron-up{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 9px;
    left: 89px;
    cursor: pointer;
    pointer-events: none;
}
.chevron-up {
    visibility: hidden;
}
.photographies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin: 50px 100px;
}

.like__container{
    display:flex;
    gap: 5px;
    cursor: pointer;
}
.like{
    cursor: pointer;
}

.photographies a {
    width: 100%;
    height: 100%;
}
.photographies article {
    display: flex;
    flex-direction: column;
}
.photographies .medias {
    height: 88%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.lb__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 50px;
    min-height: 100vh;
}

.lightbox .img__lightbox, .lightbox .video__lightbox  {
    max-width: 88%;
    max-height: 100vh;
    margin: auto;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.layout__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photographies .heart{
   width: 20px;
   height: 20px;
   
}
.heart__black{
   width: 20px;
   height: 20px;   
   padding: 0px 17px 13px 6px;
}
.sticky__card{
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    z-index: 1;
    padding : 13px 25px 3px 0px;
    margin-right: 100px;
    width: 178px;
    height: 29px;
    left: 100%;
    bottom: 0;
    background-color: #DB8876;
    border-radius: 5px;
}
.sticky__card .p-price__homepage{
    color: black;
    padding: 0 9px;
}
.layout__videos{
    position: relative;
    z-index: 1;
}

#contact_modal {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 2 !important;
}

.modal {
    width: 50%;
    display:  flex;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    animation: open-slide .5s;
}


#contact_modal[aria-hidden="true"] .modal {
    animation: close-slide .6s;
}

@keyframes open-slide {
    from { transform: translateY(-50%);}
    to { transform: translateY(0);}
}
@keyframes close-slide {
    from { transform: translateY(0);}
    to { transform: translateY(-50%);}
}
#open_modal_button {
    position: absolute;
    top: 173px;
    left: 50%;
}
#open_modal_button:hover, #open_modal_button:focus {
    background-color: #D3573C;
    color: black;
}

.contact__button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 6px;
    width: 160px;
    height: 60px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.title-modal__layout{
    display: flex;
    margin: auto;
    justify-content: flex-start;
    align-items: baseline;
    justify-content: space-between;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}
.relative {
    position: relative;
}

.modal header img {
    display: flex;
    cursor: pointer;
}

.modal header h2 {
    display: flex;
    font-size: 3em;
    font-weight: normal;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2em;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 1vh;
}

form input {
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
}
.message__input {
   height: 10vh;
   min-height: 5px;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(212, 209, 209, 0.884);
}

.media__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 50px;
    min-height: 100vh; 
    width: 100vw;
}
.media__container .title__media  {
    color: #901C1C;
    margin-left: 45px;
}
.layout__card  .title__media {
    color: #901C1C;
}
.media-title-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.next__chevron, .prev__chevron, .lightbox__close-img{
    width: 30px;
    height:  30px;
    border: none;
}

.lightbox__close, .lightbox__previous, .lightbox__next {
    display: flex;
    position: fixed;
    width: 50px;
    height: 100%;
    top: 0;
    right: 0;
    cursor: pointer;
    align-items: center;
    background-color:transparent;
    border: none;

}
.lightbox__previous{
    right: auto ;
}
.lightbox__close{
   top: 0;
   height: 10%;
}

.lightbox img, .lightbox video {
    max-width: 88%;
    max-height: 90vh;
    margin: auto;
    height: auto;  
}



@media screen and (max-width: 988px) {
    .photographies {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 60px;
     margin: 50px 100px;
    }
     .layout__video, .layout__photo {
         width: 100%;
         height: 88%;
    }
}
@media screen and (max-width: 630px) {
    .photographer__header a {
        align-items: center; 
        flex-direction: column;
    }
    #title_modal  {
        font-size: 2rem;
    }
    .modal img {
        width: 20px;
    }
    .photographer__header img {
        width: 130px;
        height: 130px;
    }
    .header__page {
        justify-content: center;
    }
    .logo {
        margin-left: 0;
        margin-right: 0;
    }
    
    .photographer__header .descriptif__photographer{
        align-items: center;
    }
    .photographies {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 397px) {
    
    .sticky__card {
        margin: 20px;
   }

    #filter {
        flex-direction: column;
        margin-left: 10px;
    }

    .filter__container {
        margin-top: 10px;
        display: block;
        width: 32%;
    }
    .photographer__header, .logo {
        margin: 10px;
    }
    .photographies {
        margin: 30px;
        gap: 0;
    }
    
}

   
