@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
.header-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
h1 {
    color: #901C1C;
    margin-right: 100px;
}
a{
    text-decoration: none;
}
.p-tagline-homepage{
    color: black;
    margin: 0;
    text-align: center;
}
.p-price-homepage{
    display: block;
    color: #757575;
    margin: 0;
}
.photographer_section .p-price-homepage{
    display: block;
}

.logo {
    height: 50px;
    margin-left: 100px;
    border-radius: 0;
}
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    padding: 10%;
}
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
}
.photographer_section article h3 {
    margin: 0;
    color: #901C1C;
}
.photographer_section a img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.photographer_section .descriptif-photographer{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.photographer_section .sticky-card{
    display: none;
}
.photographer_header {
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    padding: 30px;
    margin: 0 100px;
}
.photographer_header a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    pointer-events: none;

}
#title_modal{
    margin-top: 0;
    
}
#open_modal_button{
    position: absolute;
    top: 13%;
    left: 50%;
  
}
.photographer_header article {
  width: 100% ;
}
.photographer_header h2 {
  color: #D3573C ;
}
.photographer_header h3 {
  color: #901C1C;
}
.photographer_header img { 
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.photographer_header .p-price-homepage  {
    display: none;
}
.filters{
    display: flex;
    margin: 30px 0  0 100px;
    font-weight: bold;
}
.filter-categories{
    background-color: #901C1C;
    margin-left: 20px;
    margin-top: -20px;
    border-radius: 5px;
    padding: 0 15px 10px 10px;
    font-weight: normal;
    color: #FAFAFA;
    max-height:37px;
    overflow: hidden;
    transition: 1s max-height 0.3s;
}
.pop, .date{
    padding: 15px 0 10px 15px;
    border-bottom: 1px solid #FAFAFA;
}
.filter-categories:hover {
    max-height: 137px;
}
.title{
    padding: 15px 0 10px 15px;
}
.chevron{
    width: 15px;
    height: 15px;
    padding: 0 30px;
}
.photographies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 50px 100px;
}

.like-container{
    display:flex;
    gap: 5px;
}

.photographies article {
    display: flex;
    flex-direction: column-reverse;
}
.photographies img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.photographies video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.photographies h3 {
   color:#901C1C;

}
.layout_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photographies .heart{
   width: 20px;
   height: 20px;
}
.heart-black{
   width: 20px;
   height: 20px;   
   padding: 0px 17px 13px 6px;
}
.sticky-card{
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    z-index: 1;
    padding : 13px 25px 3px 0px;
    width: 178px;
    height: 29px;
    left: 83%;
    bottom: 0;
    background-color: #DB8876;
    border-radius: 5px;
}
.sticky-card .p-price-homepage{
    color: black;
    padding: 0 9px;
}






